.login-form {
    width: 570px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    outline: 1px solid black;
    z-index: 201;
    border-radius: 30px;
    @include for-mobile-layout {
        width: 330px;
        border-radius: 8px;
        p {
            margin: 0;
            text-align: center;
        }
        input {
            padding: 17.5px 14px;
        }
    }
    span {
        color: cornflowerblue;
        cursor: pointer;
    }
    .login-header {
        margin-top: 25px;
        margin-bottom: 0;
        @include for-mobile-layout {
            margin-top: 17px;
        }
    }
    .seperation-line-login {
        margin-top: 20px;
        margin-bottom: 20px;
        border-top: 1px solid rgba(131, 126, 126, 0.5);
        width: inherit;
        @include for-mobile-layout {
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }
    .login-welcome {
        align-self: flex-start;
        margin-bottom: 25px;
        @include for-mobile-layout {
            text-align: center;
        }
    }
    .login-main-container {
        width: 100%;
        padding: 24px;
        @include for-mobile-layout {
            padding: 15px;
        }
    }
    .login-input-continer {
        width: 100%;
    }
    .continue-btn {
        margin-top: 10px;
        width: 100%;
        height: 45px;
        border-radius: 8px;
        border: none;
        color: $clr4;
        background-image: radial-gradient( circle at center, #ff385c 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
        background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
        background-size: 130% 130%;
        & span:hover {
            text-decoration: underline;
        }
    }
    .login-close-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        @include for-mobile-layout {
            right: 0;
            padding: 3px 9px;
            top: 5px;
        }
    }
}

.screen {
    position: fixed;
    background: rgba(46, 46, 46, 0.808);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    transition: 0.3s;
}