.mobile-main-nav {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 20;
    bottom: 0;
    height: 80px;
    background: white;
    width: 100%;
    .icon {
        stroke: $clr3;
        width: 18px;
        height: 18px;
        stroke-width: 3px;
        &.heart {
            fill: white;
        }
    }
    .menu-notification {
        width: 15px;
        height: 15px;
        background-color: #ff1b1b;
        color: white;
        border-radius: 50%;
        margin-right: 5px;
        position: absolute;
        &.host {
            top: -6px;
            right: 30px;
        }
        &.trip {
            top: -7px;
            right: 3px;
        }
    }
}