.stay-container {
    gap: 10px;
    margin: 28px 0;
    cursor: pointer;
    .like {
        svg {
            path {
                fill: rgb(255, 56, 92) !important;
            }
        }
    }

    .like-tag {
        margin-top: 5px;
        margin-right: 5px;
        position: absolute;
        z-index: 5;
        right: 0;
        background: none;
        border: none;

        svg {
            path {
                display: block;
                fill: rgba(0, 0, 0, 0.5);
                height: 24px;
                width: 24px;
                stroke: rgb(255, 255, 255);
                stroke-width: 2;
            }
            overflow: visible;
        }
    }

    h1 {
        font-size: rem(18px);
        line-height: rem(24px);
        margin-bottom: rem(10px);
        color: $clr2;
    }
    h2 {
        display: flex;
        gap: 3px;
    }
}
.stay-img {
    border-radius: 12px;
}
.slick-slide {
    @include aspect-ratio(2, 1.4);
    img {
        border-radius: 12px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
}

.link-detail {
    position: relative;
    text-decoration: none;
    color: $clr1;
}
