// Colors
$clr1: #717171;
$clr2: #222222;
$clr3: rgb(255, 56, 92);
$clr4: white;
$clr5: black;
$clr6: #ebebeb;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 670px;
$normal-breakpoint: 980px;